In [1]:
import numpy as np
import pandas as pd
dataset1 = pd.read_csv("dataTraining1.csv")

In [2]:
dataset1.head() #first 5 column

,Node Number,Thread Number,Spatial Distribution,Temporal Distribution,T/R,Processor Utilization,Channel Waiting Time,Input Waiting Time,Network Response Time,Channel Utilization,Column1,_1,_2,_3,_4
0,64,4,UN,Client-Server,1,839546,1974686,308491814,700514102,352431,NaN,NaN,NaN,NaN,NaN
1,64,4,UN,Client-Server,2,827412,9556437,291037663,864599227,506302,NaN,NaN,NaN,NaN,NaN
2,64,4,UN,Client-Server,3,802605,27027618,264928002,839372851,638516,NaN,NaN,NaN,NaN,NaN
3,64,4,UN,Client-Server,4,723403,61848511,235776888,1256053108,767051,NaN,NaN,NaN,NaN,NaN
4,64,4,UN,Client-Server,5,72121,121085884,189680044,1343875577,807812,NaN,NaN,NaN,NaN,NaN

In [3]:
dataset1.tail()#last 5 columns

,Node Number,Thread Number,Spatial Distribution,Temporal Distribution,T/R,Processor Utilization,Channel Waiting Time,Input Waiting Time,Network Response Time,Channel Utilization,Column1,_1,_2,_3,_4
635,16,10,PS,Asynchronous,6,79234,532737732,363094043,1214057768,961042,NaN,NaN,NaN,NaN,NaN
636,16,10,PS,Asynchronous,7,707199,75167511,224638088,1653736882,981944,NaN,NaN,NaN,NaN,NaN
637,16,10,PS,Asynchronous,8,61823,905326843,206922631,1421304936,9625,NaN,NaN,NaN,NaN,NaN
638,16,10,PS,Asynchronous,9,564482,1048269897,154713952,2371043062,979375,NaN,NaN,NaN,NaN,NaN
639,16,10,PS,Asynchronous,1,515257,1184647461,136375081,2592966463,980903,NaN,NaN,NaN,NaN,NaN

In [4]:
dataset1.isnull().sum()

Node Number                 0
Thread Number               0
Spatial Distribution        0
Temporal Distribution       0
T/R                         0
Processor Utilization       0
Channel Waiting Time        0
Input Waiting Time          0
Network Response Time       0
Channel Utilization         0
Column1                   640
_1                        640
_2                        640
_3                        640
_4                        640
dtype: int64

In [35]:
df=dataset1.drop(['Column1','_1','_2','_3','_4','Spatial Distribution','Temporal Distribution'],axis=1)  #removing useless column to minimize dataset

In [36]:
df.shape

(640, 8)

In [37]:
df.dtypes

Node Number               int64
Thread Number             int64
T/R                       int64
Processor Utilization     int64
Channel Waiting Time      int64
Input Waiting Time        int64
Network Response Time     int64
Channel Utilization       int64
dtype: object

In [38]:
df.info() #count and datatype of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Node Number             640 non-null    int64
 1   Thread Number           640 non-null    int64
 2   T/R                     640 non-null    int64
 3   Processor Utilization   640 non-null    int64
 4   Channel Waiting Time    640 non-null    int64
 5   Input Waiting Time      640 non-null    int64
 6   Network Response Time   640 non-null    int64
 7   Channel Utilization     640 non-null    int64
dtypes: int64(8)
memory usage: 40.1 KB

In [39]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='most_frequent')
df_im=si.fit_transform(df)

In [40]:
df_im=pd.DataFrame(df_im)

In [41]:
data=df_im

In [42]:
target=df_im[0]

In [43]:
df.head()

,Node Number,Thread Number,T/R,Processor Utilization,Channel Waiting Time,Input Waiting Time,Network Response Time,Channel Utilization
0,64,4,1,839546,1974686,308491814,700514102,352431
1,64,4,2,827412,9556437,291037663,864599227,506302
2,64,4,3,802605,27027618,264928002,839372851,638516
3,64,4,4,723403,61848511,235776888,1256053108,767051
4,64,4,5,72121,121085884,189680044,1343875577,807812

In [44]:
import matplotlib.pyplot as plot
from sklearn import linear_model

In [45]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data,target,test_size=0.3)

In [46]:
x_train.shape

(448, 8)

In [47]:
x_test.shape

(192, 8)

In [48]:
from sklearn.linear_model import Perceptron

In [49]:
p1=Perceptron(penalty='l1')

In [50]:
df

,Node Number,Thread Number,T/R,Processor Utilization,Channel Waiting Time,Input Waiting Time,Network Response Time,Channel Utilization
0,64,4,1,839546,1974686,308491814,700514102,352431
1,64,4,2,827412,9556437,291037663,864599227,506302
2,64,4,3,802605,27027618,264928002,839372851,638516
3,64,4,4,723403,61848511,235776888,1256053108,767051
4,64,4,5,72121,121085884,189680044,1343875577,807812
...,...,...,...,...,...,...,...,...
635,16,10,6,79234,532737732,363094043,1214057768,961042
636,16,10,7,707199,75167511,224638088,1653736882,981944
637,16,10,8,61823,905326843,206922631,1421304936,9625
638,16,10,9,564482,1048269897,154713952,2371043062,979375
639,16,10,1,515257,1184647461,136375081,2592966463,980903

In [51]:
p1.fit(x_train,y_train)

Perceptron(penalty='l1')

In [52]:
from sklearn.metrics import accuracy_score

In [53]:
train_pred=p1.predict(x_train)

In [54]:
train_pred=p1.predict(x_test)

In [70]:
X=df
y=df['T/R']
from sklearn.linear_model import LogisticRegression

from sklearn import preprocessing
from sklearn import utils

#convert y values to categorical values
lab = preprocessing.LabelEncoder()
y = lab.fit_transform(y)

In [71]:
#split the dataset in the Training and testing 
from sklearn.model_selection import train_test_split
X_train , X_test ,y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)
print(np.shape(X))
print(np.shape(X_test))
print(np.shape(X_train))

#Create the object of StandardScaler class for independent variables or features
from sklearn.preprocessing import StandardScaler 
sc=StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

(640, 8)
(128, 8)
(512, 8)

In [72]:
### SVM (Support Vector Machine)
from sklearn.svm import SVC
svm = SVC(kernel='linear', C=1,random_state=0)
svm.fit(X_train_std,y_train)
y_pred=svm.predict(X_test_std)
print('misclassified samples: %d'%(y_test!=y_pred).sum())
from sklearn.metrics import accuracy_score
print('Accuracy:%.2f'%accuracy_score(y_test,y_pred))

misclassified samples: 0
Accuracy:1.00

In [73]:
### KNN (K-Nearest Neighbors)
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn1=KNeighborsClassifier(n_neighbors=3)
knn1.fit(X_train_std,y_train)
y_pred=knn1.predict(X_test_std)
print('misclassified samples: %d'%(y_test!=y_pred).sum())
from sklearn.metrics import accuracy_score
print('Accuracy:%.2f'%accuracy_score(y_test,y_pred))

misclassified samples: 71
Accuracy:0.45

In [74]:
### Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
model = LogisticRegression(solver='liblinear', random_state=0)
model.fit(X,y)
model = LogisticRegression(solver='liblinear', random_state=0).fit(X, y)
model.predict_proba(X)
model.predict(X)
model.score(X,y)
print(classification_report(y, model.predict(X)))
model.score(X,y)

              precision    recall  f1-score   support

           0       0.09      0.21      0.13       128
           1       0.38      0.73      0.50        64
           2       0.70      0.73      0.72        64
           3       0.71      0.23      0.35        64
           4       0.00      0.00      0.00        64
           5       0.23      0.11      0.15        64
           6       0.00      0.00      0.00        64
           7       0.00      0.00      0.00        64
           8       0.32      0.44      0.37        64

    accuracy                           0.27       640
   macro avg       0.27      0.27      0.25       640
weighted avg       0.25      0.27      0.23       640

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.2671875

In [75]:
from sklearn.ensemble import RandomForestClassifier #algorithm of hyperparameter tuning
from sklearn.model_selection import GridSearchCV #Cv: Cross Validation
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=42)

# Define the hyperparameters to tune
param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10]
}
# Create a random forest classifier object
rfc = RandomForestClassifier()

# Perform a grid search with cross-validation to find the best hyperparameters
grid_search = GridSearchCV(estimator=rfc, param_grid=param_grid, cv=5)
grid_search.fit(X_train, y_train)

# Print the best hyperparameters and their corresponding accuracy score on the validation set
print("Best hyperparameters:", grid_search.best_params_)
y_pred = grid_search.predict(X_val)
print("Validation accuracy score:", accuracy_score(y_val, y_pred))

Best hyperparameters: {'max_depth': None, 'min_samples_split': 5, 'n_estimators': 150}
Validation accuracy score: 0.9947916666666666